<mat-card class ="product">
  <mat-card-header class="group7-product-header">
    <div fxFlex></div>
  </mat-card-header>

  <div class="product-image-wrapper">
    <img class="product-image" mat-card-image src="{{productToDisplay.image}}">
  </div>


  <mat-card-content class="group7-product-content">
    <div class="product-category">Category: {{productToDisplay.category}}</div><br/>
    <mat-card-title>{{productToDisplay.title}} </mat-card-title>
    <p class="product-description">
      {{productToDisplay.description}}
    </p><br/>
    <span class="product-price"> Price: {{productToDisplay.price}} CHF</span>
  </mat-card-content>


  <mat-card-actions class="group7-product-actions" align="end">

    <!-- Should only be usable for logged in users -->
    <button mat-button [disabled]="!showBuyNowButton" class="group7-product-actions-button"><mat-icon (click)="buyProduct()" class="group7-product-actions">shopping_cart</mat-icon></button>

    <!-- Should only be usable for admins -->
    <button mat-button fxLayoutAlign="right top" [disabled]="!showDeleteAndUpdateButton" class="group7-product-actions-button"><mat-icon (click)="updateProduct()" class="group7-product-actions">edit</mat-icon></button>
    <button mat-button fxLayoutAlign="right top" [disabled]="!showDeleteAndUpdateButton" color="warn" class="group7-product-actions-button"><mat-icon (click)="deleteProduct()" class="group7-product-actions">delete</mat-icon></button>
  </mat-card-actions>

  <!-- TODO: Details should only be displayed if the user clicks on it
  Idea: "show description" button and then only the post with the description is showed
   -->

</mat-card>
