.wrapper{
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

.card{
  background-color:white !important;
}

.form-field{
  width: 100%;
}

.action-button{
  text-align: right;
}

.separator {
  text-align: center;
}

.form-wrapper{
  display: flex;
  flex-direction: column;
}

.form-wrapper > * {
  width: 100%;
}

#password{
  padding-top: 40px;
}
