<!--<mat-card>
  <h3>Register</h3>
  <mat-form-field>
    <input matInput type="text" placeholder="User Name" name="name" [(ngModel)]="userToRegister.username" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="userToRegister.password" required>
  </mat-form-field><br/>
  <mat-form-field>
    <input matInput type="text" placeholder="First Name" name="firstName" [(ngModel)]="userToRegister.firstName">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Last Name" name="lastName" [(ngModel)]="userToRegister.lastName">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="email" placeholder="Email" name="email" [(ngModel)]="userToRegister.email">
  </mat-form-field><br/>
  <mat-form-field>
    <input matInput type="text" placeholder="Street" name="street" [(ngModel)]="userToRegister.street">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Nr." name="houseNumber" [(ngModel)]="userToRegister.houseNumber">
  </mat-form-field><br/>
  <mat-form-field>
    <input matInput type="text" placeholder="Zip Code" name="zipCode" [(ngModel)]="userToRegister.zipCode">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="City" name="city" [(ngModel)]="userToRegister.city">
  </mat-form-field><br/>
  <mat-form-field>
    <input matInput type="date" min="1900-01-01" max="2021-10-07" placeholder="Birthday" name="birthday" [(ngModel)]="userToRegister.birthday">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Phone Number" name="phoneNumber" [(ngModel)]="userToRegister.phoneNumber">
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="registerUser()">Register</button>
</mat-card>
-->
<mat-card>
  <h3>Login</h3>

  <div *ngIf="!loggedIn">

    <mat-card-subtitle>
    Login with username or email
    </mat-card-subtitle>
    <mat-form-field>
      <input matInput type="text" [disabled]="!activeUserNameField" placeholder="User Name" name="userName" (click)="disableEmailField()" [(ngModel)]="userToLogin.username">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" [disabled]="!activeEmailField" placeholder="Email" name="email" (click)="disableUserNameField()" [(ngModel)]="userToLogin.email">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="userToLogin.password">
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="loginUser()">Login</button>{{ endpointLogin }}
  </div>

  <div *ngIf="loggedIn">
    <button mat-flat-button color="warn" (click)="logoutUser()">Logout</button>
  </div>
</mat-card>

<mat-card>
  <h3>Secure Endpoints</h3>
  <button mat-flat-button color="primary" (click)="accessUserEndpoint()">User Endpoint</button>
  {{ endpointMsgUser }}
  <hr>
  <button mat-flat-button color="primary" (click)="accessAdminEndpoint()">Admin Endpoint</button>
  {{ endpointMsgAdmin }}
</mat-card>
