
.separator{
  display: flex;
  align-items: center;
}

.separator p{
  padding: 0 1rem; /* creates the space */
  color: grey;
}

.separator .line{
  flex: 1;
  height: 1px;
  background-color: grey;
}

#password{
  padding-top: 40px;
}
