<div class="card-wrapper-center">
  <div class="shop-wrapper">
    <button mat-flat-button [disabled]="!showAddProductButton" (click)="addProduct()" class="group7-forms-button">
      Add new product
    </button>
    <button mat-flat-button (click) ="refreshShop()" class="group7-forms-button">
      Reload shop
    </button>

    <mat-form-field>
      <mat-select [(value)]="filterBy" placeholder="filter list by:" (selectionChange)="filterShop($event)" class="group7-select">
        <mat-option value="">No Filter</mat-option>
        <mat-option *ngFor="let category of productCategories" [value]="category">{{category}}</mat-option>
      </mat-select>
    </mat-form-field>







    <!--<br/>
    <button mat-flat-button (click) ="filterShopByCategory(1)" class="group7-forms-button">
      Filter Category 1
    </button>
    <button mat-flat-button (click) ="filterShopByCategory(2)" class="group7-forms-button">
      Filter Category 2
    </button>
    <button mat-flat-button (click) ="filterShopByCategory(3)" class="group7-forms-button">
      Filter Category 3
    </button>-->
    <div  *ngFor="let productToDisplay of currentShop.products" class="group7-grid-tile shop-item">
      <app-product
        [productToDisplay]="productToDisplay"
        [loggedIn]="loggedIn"
        [currentUser]="currentUser"
        (delete)="deleteProduct($event)"
        (update)="updateProduct($event)"
        (buy)="buyProduct($event)">
      </app-product>
    </div>
  </div>
</div>


