<div class="card-wrapper-center">

  <mat-card>
    <mat-card-content class="feed-tools">

        <button mat-flat-button *ngIf="canAddProduct" (click)="addProduct()" class="group7-forms-button feed-tools-fields">
          Add new product
        </button>
        <button mat-flat-button (click) ="refreshShop()" class="group7-forms-button feed-tools-fields" >
          Reload shop
        </button>

        <mat-form-field appearance="outline" class="feed-tools-fields">
          <mat-select  placeholder="Filter by category:" (selectionChange)="filterShop($event.value)" #selectFilter class="group7-select">
            <mat-option value="0">No Filter</mat-option>
            <mat-option *ngFor="let category of productCategories" [value]="category.id">{{category.name}}</mat-option>
          </mat-select>
        </mat-form-field>

    </mat-card-content>
  </mat-card>


  <div class="shop-wrapper" *ngIf="!isLoadingUser && !isLoadingCategories">

    <div  *ngFor="let productToDisplay of productList" class="group7-grid-tile shop-item">
      <app-product
        [productToDisplay]="productToDisplay"
        [loggedIn]="loggedIn"
        [currentUser]="currentUser"
        (delete)="confirmDelete($event)"
        (update)="updateProduct($event)"
        (buy)="buyProduct($event)"
        (showDetails)="showProductDetails($event)">
      </app-product>
    </div>

  </div>
</div>


