
<div class="wrapper">
    <mat-card>
      <mat-card-title>
        <h1>Create a new post</h1>
      </mat-card-title>
    <mat-card-content>
      <form [formGroup]="createPostForm" (ngSubmit)="onSubmit(formDirective)" #formDirective="ngForm">
        <mat-form-field>
          <input matInput type="text" label="postTitle" placeholder="Title" id="postTitle" [formControlName]="'postTitle'" required>
        </mat-form-field>
        <br/>
        <label for="postImage"  ><b>Image</b></label>
          <input type="file" label="postImage" id="postImage" [formControlName]="'postImage'" class="file-upload" #fileUpload>
        <div>
            {{ "No file uploaded yet."}}
            <button mat-mini-fab color="primary" class="upload-btn" type="button" (click)="fileUpload.click()">
              <mat-icon>attach_file</mat-icon>
            </button>
          </div>
        <br/>

        <mat-form-field>
          <input matInput type="text" label="postText" id="postField" placeholder="Post text" [formControlName]="'postText'">
        </mat-form-field>
        <br/>
        <button mat-flat-button type="submit" >Create Post</button>
      </form>
    </mat-card-content>


</mat-card>

</div>
