  <div class="group7-profile-page-wrapper">
  <mat-card class="group7-card">
    <mat-card-header>
      <mat-card-title>
        <h1 class="card-title">{{currentUser?.username}}</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-label>First Name</mat-label>
      <h2 label="firstName" id="firstName">{{currentUser?.firstName}}</h2>
      <mat-label>Last Name</mat-label>
      <h2 label="lastName" id="lastName">{{currentUser?.lastName}}</h2>
      <mat-label>Address</mat-label>
      <h2 label="address" id="address">{{address}}</h2>
      <mat-label>Birthday</mat-label>
      <h2 label="birthday" id="birthday">{{birthday}}</h2>
      <mat-label>Email</mat-label>
      <h2 label="email" id="email">{{currentUser?.email}}</h2>
      <mat-label>Phone Number</mat-label>
      <h2 label="phoneNumber" id="phoneNumber">{{currentUser?.phoneNumber}}</h2>
      <mat-label>Is Admin</mat-label>
      <h2 label="phoneNumber" id="isAdmin">{{currentUser?.isAdmin}}</h2>

      <button mat-flat-button (click)="viewOrders()" class="group7-forms-button">
        View Orders
      </button>
      <button mat-flat-button *ngIf="showSelectHouseButton" (click)="chooseHouse()" class="group7-forms-button">
        Choose House
      </button>

    </mat-card-content>
  </mat-card>
  </div>
