body {
  margin: 30px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



button, input {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.mat-card {
  margin: 20px;
  background-color: #EEE;
  padding: 40px;
}

.mat-form-field-wrapper {
  margin-right: 0px;
}


.card-wrapper-center{
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}



.form-wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
}


.form-wrapper > * {
  width: 100%;
}

.form-action-button{
  text-align: right;
}

.card-title{
  font-family: 'Libre Baskerville', serif !important;
}

.group7-color-overlay{
  color: #262626 !important;
}

.mat-toolbar{
  background-color: #262626;
  color: #fff;
}

/*
.mat-card{
  border-radius: 0px !important;
  box-shadow: none !important;
  border: 1px solid grey !important;
}

.mat-flat-button{
  background-color: #191919 !important;
  color: #fff;
  border-radius: 0px !important;
}

.mat-form-field{
  border-radius: 0px !important;
}

.mat-flat-button:disabled{
  background-color: #d8d8d8 !important;
  color: white !important;
}
*/

.group7-card{
  background-color:white !important;
}

.group7-forms-button{
  background-color: #191919 !important;
  color: #fff;
  border-radius: 0px !important;
}

.group7-forms-button:disabled{
  background-color: #d8d8d8 !important;
  color: white !important;
}

.registration-form-form > *{
  width:100% !important;
}
