<div class="card-wrapper-center">
  <mat-card>
    <button mat-flat-button color="warn" (click)="buttonClicked()">
      Reload List
    </button>
  </mat-card>
</div>

<div class="feed-wrapper">

  <div  *ngFor="let postToDisplay of currentFeed.posts" class="group7-grid-tile feed-item">
    <app-post
      [postToDisplay]="postToDisplay"
      (delete)="deletePost($event)"
      (update)="updatePost($event)"
      (upvote)="upvotePost($event)"
      (downvote)="downvotePost($event)">
    </app-post>
  </div>

</div>


