<div class="card-wrapper-center">
  <mat-card >
    <mat-card-content class="feed-tools">
    <button mat-flat-button (click)="reloadFeed()" class="group7-forms-button feed-tools-fields " >
      Reload Feed
    </button>
    <button mat-button  *ngIf="canCreatePosts" (click)="createPost()" class="group7-forms-button"><mat-icon color="white">add</mat-icon>Create Post</button>
    <mat-form-field class="feed-tools-fields" appearance="outline">
      <mat-select [(value)]="sortBy"  (selectionChange)="sortFeed($event)" class="group7-select" id="sortSelect" placeholder="Sort by:">
        <mat-option value="0">Creation Date</mat-option>
        <mat-option value="1">Score</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-select [(value)]="filterBy" placeholder="Filter by category:" (selectionChange)="filterFeed($event)" class="group7-select">
        <mat-option value="0">No Filter</mat-option>
        <mat-option *ngFor="let category of postCategories" [value]="category.id">{{category.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    </mat-card-content>
  </mat-card>
  <div class="feed-wrapper" *ngIf="!isLoadingUser && !isLoadingCategories && !isLoadingPosts">

    <div  *ngFor="let postToDisplay of postList" class="group7-grid-tile feed-item">
      <app-post
        [postToDisplay]="postToDisplay"
        [loggedIn]="loggedIn"
        [currentUser]="currentUser"
        (delete)="confirmDelete($event)"
        (update)="updatePost($event)"
        (upvote)="upvotePost($event)"
        (downvote)="downvotePost($event)">
      </app-post>
    </div>

  </div>
</div>


