<div class="card-wrapper-center registration-form">
  <mat-card class="group7-card">
    <mat-card-header>
      <mat-card-title>
        <h1 class="card-title" *ngIf="isUpdate">Update Product</h1>
        <h1 class="card-title" *ngIf="isCreate">Create new Product</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="form-wrapper">
        <form  [formGroup]="productForm" (ngSubmit)="onSubmit(formDirective)" #formDirective="ngForm" class="registration-form-form">
          <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput type="text" label="productTitle" placeholder="Title" id="productTitle" [formControlName]="'productTitle'" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Image URL</mat-label>
            <input matInput type="url" label="productImage" id="productImage" [formControlName]="'productImage'" >
          </mat-form-field>
          <!--
          <label for="postImage"  ><b>Image</b></label>
          <input type="file" label="postImage" id="postImage" [formControlName]="'postImage'" class="file-upload" (change)="onFileSelected($event)" #fileUpload>
          <div>
            {{ filename || "No file uploaded yet."}}
            <button mat-mini-fab color="primary" class="upload-btn" type="button" (click)="fileUpload.click()">
              <mat-icon>attach_file</mat-icon>
            </button>
          </div>
          <br/>
-->
          <mat-form-field appearance="outline" id="mat-text">
            <mat-label>Description</mat-label>
            <textarea matInput type="text" label="productDescription" id="productDescription" placeholder="Product Description" [formControlName]="'productDescription'" id="text"></textarea>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label >Category</mat-label>
            <mat-select [formControlName]="'productCategory'" id="category"   required>
              <mat-option value="Winterfell">Winterfell</mat-option>
              <mat-option value="King's Landing">King's Landing</mat-option>
              <mat-option value="The Wall">The Wall</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Price</mat-label>
            <input matInput type="text" label="productPrice" id="productPrice" [formControlName]="'productPrice'" >
          </mat-form-field>
          <br/>
          <div class="form-action-button">
            <button mat-flat-button type="submit" [disabled]="!productForm.valid" class="group7-forms-button" *ngIf="isUpdate">Save Changes</button><br/>
            <button mat-flat-button type="submit" [disabled]="!productForm.valid" class="group7-forms-button" *ngIf="isCreate">Create Product</button><br/>
            <span *ngIf="!productForm.valid && isSubmitted" [ngClass]="!productForm.valid && isSubmitted ? 'is-invalid' : '' "><br/>Please add an image or description</span><br/>
          </div>
        </form>
      </div>
      <div *ngIf="isUpdate && !product">
        <span>No product found</span>
      </div>
    </mat-card-content>


  </mat-card>

</div>

