<!-- Title of form, changes depending on update or create -->
        <h1 class="card-title" *ngIf="isUpdate">Update Product</h1>
        <h1 class="card-title" *ngIf="isCreate">Create new Product</h1>

<!-- Begin of form -->
      <div class="form-wrapper">
        <form *ngIf="!isLoading"  [formGroup]="form" (ngSubmit)="onSubmit(formDirective)" #formDirective="ngForm" class="registration-form-form">

          <!-- Product Title -->
          <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput type="text" label="productTitle" placeholder="Title" id="productTitle" formControlName="productTitle" required />
          </mat-form-field>

          <!-- Product Image -->
          <mat-form-field appearance="outline">
            <mat-label>Image URL</mat-label>
            <input matInput type="url" label="productImage" id="productImage" [formControlName]="'productImage'" />
          </mat-form-field>

          <!-- Product Description -->
          <mat-form-field appearance="outline" id="mat-text">
            <mat-label>Description</mat-label>
            <textarea matInput type="text" label="productDescription" id="productDescription" placeholder="Product Description" [formControlName]="'productDescription'" id="text" required></textarea>
          </mat-form-field>

          <!-- Product Category -->
          <mat-form-field appearance="outline">
            <mat-label >Category</mat-label>
            <mat-select [formControlName]="'productCategory'" id="category"   required>
              <mat-option *ngFor="let category of productCategories" [value]="category.id" >{{category.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Product Price -->
          <mat-form-field appearance="outline" >
            <mat-label>Price</mat-label>
            <input matInput type="text" label="productPrice" id="productPrice" [formControlName]="'productPrice'" required>
            <mat-error *ngIf="form.controls['productPrice'].touched && form.controls['productPrice'].value != '' && form.controls['productPrice']?.errors?.notValidPrice" class="is-invalid">Please enter a valid price</mat-error>
          </mat-form-field>
          <br/>

          <!-- Action Buttons -->
          <div class="form-action-button">
            <button mat-flat-button (click)="discardChanges()" class="group7-forms-button" *ngIf="isUpdate">Discard Changes</button>
            <button mat-flat-button type="submit" [disabled]="!form.valid" class="group7-forms-button" *ngIf="isUpdate">Save Changes</button><br/>
            <button mat-flat-button type="submit" [disabled]="!form.valid" class="group7-forms-button" *ngIf="isCreate">Create Product</button><br/>
            <span *ngIf="!form.valid && isSubmitted" [ngClass]="!form.valid && isSubmitted ? 'is-invalid' : '' "><br/>Please add an image or description</span><br/>
          </div>
        </form>
      </div>





