<mat-sidenav-container class="group7-sidenav-container" >

  <!-- Side navigation -->
  <mat-sidenav #sidenav  mode="push" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')" class="group7-sidenav">
    <div class="group7-sidenav-close">
      <button class="group7-sidenav-closebutton" mat-icon-button (click)="sidenav.close()"> <mat-icon>close</mat-icon></button>
    </div>
    <mat-action-list class="group7-sidenav-list" (click)="sidenav.close()">
    <button mat-list-item class="group7-sidenav-button"  routerLink="/feed" routerLinkActive="active">Feed</button>
    <!--<button mat-list-item class="group7-sidenav-button" [routerLink]="['/post-form']" [queryParams]="{create: 'true'}" *ngIf="currentUser?.featuresPermissions?.createPost" >Create Post</button> -->
    <button mat-list-item class="group7-sidenav-button" routerLink="/order" routerLinkActive="active" *ngIf="loggedIn">Orders</button>
    <button mat-list-item class="group7-sidenav-button" routerLink="/login" routerLinkActive="active" *ngIf="!loggedIn">Login</button>
    <button mat-list-item class="group7-sidenav-button"  routerLink="/registration" routerLinkActive="active"*ngIf="!loggedIn">Registration</button>
    <!--<button mat-list-item class="group7-sidenav-button" routerLink="/product-form" *ngIf="loggedIn" [queryParams]="{create: true}" routerLinkActive="active">Product Form</button>-->
   <!--<button mat-list-item class="group7-sidenav-button" [routerLink]="['/purchase']" [queryParams]="{productId: 1}" routerLinkActive="active">Purchase</button>-->
      <button mat-list-item class="group7-sidenav-button" routerLink="/shop" routerLinkActive="active">Shop</button>

    </mat-action-list>

  </mat-sidenav>
  <mat-sidenav-content class="group7-sidenav-content">

    <!-- Toolbar -->

    <!-- Toggle button -->
    <mat-toolbar>
      <button mat-icon-button class="menu-icon" aria-label="Menu" (click)="sidenav.toggle()"  >
        <mat-icon>menu</mat-icon>
      </button>

      <!-- Logo -->
      <span><a routerLink="/home"><img src="assets/got-logo.png"  width="150px"/></a></span>

      <!-- House Icon -->
      <span class="house-icon-navigation-bar" *ngIf="currentUser?.houseChosen"><img [src]="loadImage(currentUser? currentUser.house?.houseId : 0)"  class="house-sigil"></span>
      <span class="spacer"></span>

      <!-- Profile icon -->
      <button mat-icon-button class="profile-icon" aria-label="Profile" [matMenuTriggerFor]="profile">
        <mat-icon *ngIf="!loggedIn">help</mat-icon>
        <span *ngIf="loggedIn" color="white">{{currentUser?.username || "ERROR"}}</span>
      </button>

      <!-- Profile menu -->
      <mat-menu #profile="matMenu">
        <button mat-menu-item  routerLink="/admin-dashboard" routerLinkActive="active" *ngIf="currentUser?.isAdmin">Admin dashboard</button>
        <button mat-menu-item  routerLink="/profile" routerLinkActive="active" *ngIf="loggedIn">Profile</button>
        <button mat-menu-item  (click)="logoutUser()" *ngIf="loggedIn"><mat-icon>logout</mat-icon>Logout</button>
        <button mat-menu-item  routerLink="/login" routerLinkActive="active" *ngIf="!loggedIn">Login</button>
        <button mat-menu-item  routerLink="/registration" routerLinkActive="active"*ngIf="!loggedIn">Registration</button>
      </mat-menu>
    </mat-toolbar>

    <!-- Main content -->
    <div class="group7-main-content" [ngClass]="getBackground(currentUser? currentUser : undefined)">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>






<!-- The routed views render in the <router-outlet>-->
<!--
<router-outlet></router-outlet>
-->
