<div class="table-wrapper" [ngClass]="currentUser.isAdmin? '': 'group7-small-table-wrapper'" *ngIf="!isLoadingUser && !isLoadingCategories">
  <div class="table-title" class="group7-list-title" >
    <h1 *ngIf="currentUser.isAdmin">Orders</h1>
    <h1 *ngIf="!currentUser.isAdmin">My Orders</h1>
  </div>
  <div class="spinner-container" *ngIf="dataSource.loading$ | async" >
    <mat-spinner></mat-spinner>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Order Id Column -->
    <ng-container matColumnDef="orderId">
      <th mat-header-cell *matHeaderCellDef> Order Id </th>
      <td mat-cell *matCellDef="let element"> {{element.orderId}} </td>
    </ng-container>

    <!-- User Column -->
    <ng-container matColumnDef="customerId">
      <th mat-header-cell *matHeaderCellDef> User Id </th>
      <td mat-cell *matCellDef="let element"> {{element.customerId}} </td>
    </ng-container>

    <!-- Product Column -->
    <ng-container matColumnDef="productId">
      <th mat-header-cell *matHeaderCellDef> Product Id </th>
      <td mat-cell *matCellDef="let element"> {{element.productId}} </td>
    </ng-container>

    <!-- Product Name Column -->
    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef> Product Name </th>
      <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
    </ng-container>

    <!-- Product Name Column -->
    <ng-container matColumnDef="productPrice">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.productPrice}} </td>
    </ng-container>

    <!-- First Name Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <!-- Street Column -->
    <ng-container matColumnDef="street">
      <th mat-header-cell *matHeaderCellDef> Street </th>
      <td mat-cell *matCellDef="let element"> {{element.street}} </td>
    </ng-container>

    <!-- House Nr Column -->
    <ng-container matColumnDef="houseNumber">
      <th mat-header-cell *matHeaderCellDef> House Nr. </th>
      <td mat-cell *matCellDef="let element"> {{element.houseNumber}} </td>
    </ng-container>

    <!-- Zip Column -->
    <ng-container matColumnDef="zipCode">
      <th mat-header-cell *matHeaderCellDef> Zip </th>
      <td mat-cell *matCellDef="let element"> {{element.zipCode}} </td>
    </ng-container>

    <!-- City Column -->
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef> City </th>
      <td mat-cell *matCellDef="let element"> {{element.city}} </td>
    </ng-container>

    <!-- Payment Method Column -->
    <ng-container matColumnDef="paymentMethod">
      <th mat-header-cell *matHeaderCellDef> Payment Method </th>
      <td mat-cell *matCellDef="let element"> {{element.paymentMethod}} </td>
    </ng-container>


    <!-- State Column -->
    <ng-container matColumnDef="orderStatus">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.orderStatus}} </td>
    </ng-container>

    <!-- Action Buttons -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell  *matHeaderCellDef > Actions </th>
      <td mat-cell *matCellDef="let element" >
        <button mat-button (click)="confirmationShip(element)" *ngIf="currentUser.isAdmin && element.orderStatus == 'Pending' "><mat-icon>local_shipping</mat-icon></button>
        <button mat-button (click)="confirmationCancel(element)" *ngIf="!currentUser.isAdmin && element.orderStatus == 'Pending'"><mat-icon>cancel</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>



</div>


