<mat-card class ="post">
  <mat-card-header>
    <mat-card-title>{{Title}} </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{Image}}">
   <mat-card-content>
    <p>
      {{Text}}
    </p>
  </mat-card-content>

  <!-- Should only be displayed for admins or the user who created the post -->
  <mat-card-actions align="end">
    <button mat-flat-button color="primary" (click)="updatePost()">Update</button>
    <button mat-flat-button color="warn" (click)="deletePost()">Delete</button>
  </mat-card-actions>
</mat-card>
