<mat-card>

<form [formGroup]="registrationForm" (ngSubmit)="onSubmit(formDirective)" #formDirective="ngForm">
<mat-form-field><input matInput type="text"  placeholder="User Name" id="username" [formControlName]="'userName'" required></mat-form-field>
  <mat-form-field>
    <input matInput type="email" placeholder="Email" id="email" [formControlName]="'email'">
  </mat-form-field><br/>
  <span *ngIf="!isUserNameValid()" [ngClass]="!isUserNameValid() ? 'is-invalid' : '' "><br/>Username or email already in use</span><br/>
  <mat-form-field>
    <input matInput type="password" placeholder="Password" id="password" [formControlName]="'password'" [ngClass]="registrationForm.controls['password']?.hasError('required') ? 'is-invalid' : ''" required>

  </mat-form-field><br/>
  <div>
  <span>Password must contain:</span><br/>
    <div><mat-icon [ngClass]="registrationForm.controls['password']?.hasError('required') || registrationForm.controls['password']?.hasError('minlength') ? 'is-invalid' : 'valid'">
      {{ registrationForm.controls['password'].hasError('required') ||
    registrationForm.controls['password'].hasError('minlength') ? 'cancel' :
      'check_circle' }}
    </mat-icon><span [ngClass]="registrationForm.controls['password']?.hasError('required') || registrationForm.controls['password']?.hasError('minlength') ? 'is-invalid' : 'valid'"> min. 8 characters</span></div>

    <div><mat-icon [ngClass]="registrationForm.controls['password']?.hasError('required') || registrationForm.controls['password']?.hasError('minlength') ? 'is-invalid' : 'valid'">
      {{ registrationForm.controls['password'].hasError('required') ||
    registrationForm.controls['password'].hasError('minlength') ? 'cancel' :
      'check_circle' }}
    </mat-icon><span [ngClass]="registrationForm.controls['password']?.hasError('required') || registrationForm.controls['password']?.hasError('noNumberInPassword') ? 'is-invalid' : 'valid'">min. one number (0-9)</span></div>
    <div><mat-icon [ngClass]="registrationForm.controls['password']?.hasError('required') || registrationForm.controls['password']?.hasError('minlength') ? 'is-invalid' : 'valid'">
      {{ registrationForm.controls['password'].hasError('required') ||
    registrationForm.controls['password'].hasError('minlength') ? 'cancel' :
      'check_circle' }}
    </mat-icon><span [ngClass]="registrationForm.controls['password']?.hasError('required') || registrationForm.controls['password']?.hasError('noSmallLetter') ? 'is-invalid' : 'valid'">min. one small letter (a-z)</span></div>
    <div><mat-icon [ngClass]="registrationForm.controls['password']?.hasError('required') || registrationForm.controls['password']?.hasError('minlength') ? 'is-invalid' : 'valid'">
      {{ registrationForm.controls['password'].hasError('required') ||
    registrationForm.controls['password'].hasError('minlength') ? 'cancel' :
      'check_circle' }}
    </mat-icon><span [ngClass]="registrationForm.controls['password']?.hasError('required') || registrationForm.controls['password']?.hasError('noCapitalLetter') ? 'is-invalid' : 'valid'">min one capital letter (A-Z)</span></div>
    <div><mat-icon [ngClass]="registrationForm.controls['password']?.hasError('required') || registrationForm.controls['password']?.hasError('minlength') ? 'is-invalid' : 'valid'">
      {{ registrationForm.controls['password'].hasError('required') ||
    registrationForm.controls['password'].hasError('minlength') ? 'cancel' :
      'check_circle' }}
    </mat-icon><span [ngClass]="registrationForm.controls['password']?.hasError('required') || registrationForm.controls['password']?.hasError('noSpecialCharacter') ? 'is-invalid' : 'valid'">min. one special character (@#$%^&-()+=)</span></div>
  </div>

  <mat-form-field>
    <input matInput type="text" placeholder="First Name" id="firstName" [formControlName]="'firstName'">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Last Name" id="lastName" [formControlName]="'lastName'">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Street"  id="street" [formControlName]="'street'">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text"  placeholder="Nr." id="houseNumber" [formControlName]="'houseNumber'">
  </mat-form-field><br/>
  <mat-form-field>
    <input matInput type="text" placeholder="Zip Code"  id="zipCode" [formControlName]="'zipCode'">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="City"  id="city" [formControlName]="'city'">
  </mat-form-field><br/>
  <mat-form-field>
    <input matInput type="date" placeholder="Birthday"  min="1900-01-01" max="2021-10-07" id="birthday" [formControlName]="'birthday'">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Phone"  id="phoneNumber" [formControlName]="'phoneNumber'">
  </mat-form-field><br/>
  <button mat-flat-button type="submit" [disabled]="!registrationForm.valid">Register</button>
</form>
</mat-card>
