<!-- Wrapper and Card -->
<div class="card-wrapper-center registration-form">
  <mat-card *ngIf="!loggedIn" class="group7-card">

    <!-- Title -->
    <mat-card-header>
      <mat-card-title><h1 class="card-title">SIGN UP</h1></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="form-wrapper">

        <!-- Begin of Form -->
        <form *ngIf="!isLoading" [formGroup]="form" (ngSubmit)="onSubmit(formDirective)" #formDirective="ngForm" class="registration-form-form">
     <mat-stepper linear>
            <mat-step formGroupName="loginDetails" [stepControl]="form.get('loginDetails')">
              <ng-template matStepLabel>Login Details</ng-template>


          <!--Username -->
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput type="text"  placeholder="User Name" id="username" formControlName="userName" [ngClass]="form.controls['userName']?.errors?.userNameInUse ? 'is-invalid' : '' " required>
            <mat-error *ngIf="form.get('loginDetails.email').touched && form.get('loginDetails.userName').value != '' && form.get('loginDetails.userName').errors?.userNameInUse" class="is-invalid">Username already in use</mat-error>
          </mat-form-field>


          <!-- Email -->
          <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Email" id="email" formControlName="email" [ngClass]="form.controls['email']?.errors?.emailInUse ? 'is-invalid' : '' " required>
            <mat-error *ngIf="form.get('loginDetails.email').touched && form.get('loginDetails.email').value != '' && form.get('loginDetails.email').errors?.emailInUse" class="is-invalid">Email already in use</mat-error>
          </mat-form-field>
              <br/>


          <!-- Password -->
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Password" id="password" formControlName="password" [ngClass]="form.get('loginDetails.password')?.hasError('required') ? 'is-invalid' : ''" required>
            </mat-form-field>
            <div>

              <!-- Password requirements -->
              <span>Password must contain:</span><br/>
                <div>
                  <mat-icon [ngClass]="form.get('loginDetails.password')?.hasError('required') || form.controls['password']?.hasError('minlength') ? 'is-invalid' : 'valid'" [color]="form.get('loginDetails.password')?.hasError('required') || form.get('loginDetails.password')?.hasError('minlength') ? 'is-invalid' : 'valid'">
                  {{ form.get('loginDetails.password').hasError('required') ||
                  form.get('loginDetails.password').hasError('minlength') ? 'cancel' :
                  'check_circle' }}
                  </mat-icon>
                <span [ngClass]="form.get('loginDetails.password')?.hasError('required') || form.get('loginDetails.password')?.hasError('minlength') ? 'is-invalid' : 'valid'"> min. 8 characters</span>
                </div>
                <div>
                  <mat-icon [ngClass]="form.get('loginDetails.password')?.hasError('required') || form.get('loginDetails.password')?.hasError('noNumberInPassword') ? 'is-invalid' : 'valid'">
                  {{ form.get('loginDetails.password').hasError('required') ||
                  form.get('loginDetails.password').hasError('noNumberInPassword') ? 'cancel' :
                  'check_circle' }}
                  </mat-icon>
                  <span [ngClass]="form.get('loginDetails.password')?.hasError('required') || form.get('loginDetails.password')?.hasError('noNumberInPassword') ? 'is-invalid' : 'valid'">min. one number (0-9)</span>
                </div>
                <div>
                  <mat-icon [ngClass]="form.get('loginDetails.password')?.hasError('required') || form.get('loginDetails.password')?.hasError('noSmallLetter') ? 'is-invalid' : 'valid'">
                  {{ form.get('loginDetails.password').hasError('required') ||
                  form.get('loginDetails.password').hasError('noSmallLetter') ? 'cancel' :
                  'check_circle' }}
                </mat-icon>
                <span [ngClass]="form.get('loginDetails.password')?.hasError('required') || form.get('loginDetails.password')?.hasError('noSmallLetter') ? 'is-invalid' : 'valid'">min. one small letter (a-z)</span>
                </div>
                <div>
                  <mat-icon [ngClass]="form.get('loginDetails.password')?.hasError('required') || form.get('loginDetails.password')?.hasError('noCapitalLetter') ? 'is-invalid' : 'valid'">
                  {{ form.get('loginDetails.password').hasError('required') ||
                  form.get('loginDetails.password').hasError('noCapitalLetter') ? 'cancel' :
                  'check_circle' }}
                 </mat-icon>
                  <span [ngClass]="form.get('loginDetails.password')?.hasError('required') || form.get('loginDetails.password')?.hasError('noCapitalLetter') ? 'is-invalid' : 'valid'">min one capital letter (A-Z)</span>
                </div>
                <div>
                  <mat-icon [ngClass]="form.get('loginDetails.password')?.hasError('required') || form.get('loginDetails.password')?.hasError('noSpecialCharacter') ? 'is-invalid' : 'valid'">
                  {{ form.get('loginDetails.password').hasError('required') ||
                  form.get('loginDetails.password').hasError('noSpecialCharacter') ? 'cancel' :
                  'check_circle' }}
                  </mat-icon>
                  <span [ngClass]="form.get('loginDetails.password')?.hasError('required') || form.get('loginDetails.password')?.hasError('noSpecialCharacter') ? 'is-invalid' : 'valid'">min. one special character (@#$%^&-()+=)</span>
                </div>
              </div><br/>
              <div>
              <span class="spacer"></span>
              <div>
                <button mat-raised-button matStepperNext type="button" class="group7-forms-button">Next</button>
              </div>

              </div>

            </mat-step>
              <mat-step formGroupName="address" [stepControl]="form.get('address')" [optional]="isOptional">
                <ng-template matStepLabel>Address</ng-template>


          <!-- First Name -->
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput type="text" placeholder="First Name" id="firstName" formControlName="firstName">
            </mat-form-field>

          <!-- Last Name -->
            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput type="text" placeholder="Last Name" id="lastName" formControlName="lastName">
            </mat-form-field>

          <!-- Street -->
            <mat-form-field appearance="outline">
              <mat-label>Street</mat-label>
              <input matInput type="text" placeholder="Street"  id="street" formControlName="street">
            </mat-form-field>

          <!-- House Nr. -->
            <mat-form-field appearance="outline">
              <mat-label>Nr.</mat-label>
              <input matInput type="text"  placeholder="Nr." id="houseNumber" formControlName="houseNumber">
              <mat-error *ngIf="form.get('address.houseNumber').touched && form.get('address.houseNumber').value != '' && form.get('address.houseNumber')?.errors?.notValidHouseNr" class="is-invalid">Enter a valid house number</mat-error>
            </mat-form-field>

          <!-- Zip Code -->
            <mat-form-field appearance="outline">
              <mat-label>Zip Code</mat-label>
              <input matInput type="text" placeholder="Zip Code"  id="zipCode" formControlName="zipCode">
              <mat-error *ngIf="form.get('address.zipCode').touched && form.get('address.zipCode').value != '' && form.get('address.zipCode')?.errors?.notValidZipCode" class="is-invalid">Enter a valid ZIP Code</mat-error>
            </mat-form-field>

          <!-- City -->
            <mat-form-field appearance="outline">
              <mat-label>City</mat-label>
              <input matInput type="text" placeholder="City"  id="city" formControlName="city">
            </mat-form-field>

                <div>
                  <button mat-button matStepperPrevious type="button" class="group7-forms-button">Back</button>
                  <button mat-button matStepperNext type="button"  class="group7-forms-button">Next</button>
                </div>


                </mat-step>
              <mat-step formGroupName="personalDetails" [stepControl]="form.get('personalDetails')" [optional]="isOptional">
                <ng-template matStepLabel>Personal Details</ng-template>

                <!-- Birthday -->
            <mat-form-field appearance="outline">
              <mat-label>Birthday</mat-label>
              <input matInput type="date" placeholder="Birthday"  min="1900-01-01" max="2021-10-07" id="birthday" formControlName="birthday">
            </mat-form-field>

          <!-- Phone -->
            <mat-form-field appearance="outline">
              <mat-label>Phone Number</mat-label>
              <input matInput type="tel" placeholder="Phone: +4179..."   id="phoneNumber" formControlName="phoneNumber">
              <mat-error *ngIf="form.get('personalDetails.phoneNumber').touched && form.get('personalDetails.phoneNumber').value != '' && form.get('personalDetails.phoneNumber')?.errors?.notValidPhoneNr" class="is-invalid">Enter a valid phone number, e.g. +41793332211</mat-error>
            </mat-form-field>



                <div>
                  <button mat-button matStepperPrevious type="button" class="group7-forms-button">Back</button>
                  <button mat-button matStepperNext type="button"  class="group7-forms-button">Next</button>
                </div>

            </mat-step>


          <mat-step>
            <ng-template matStepLabel>Confirm</ng-template>
            <!-- Submit Button -->
            <p>Click on 'Sign Up' to register.</p>
            <div class="form-action-button">
              <button mat-button matStepperPrevious type="button" class="group7-forms-button">Back</button>
              <button mat-flat-button type="submit" [disabled]="!form.valid" class="form-action-button group7-forms-button">Sign Up</button>
            </div>
          </mat-step>
     </mat-stepper>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
