<div class="card-wrapper-center registration-form">
  <mat-card *ngIf="!loggedIn" class="group7-card">
    <mat-card-header>
      <mat-card-title><h1 class="card-title">SIGN UP</h1></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="form-wrapper">
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit(formDirective)" #formDirective="ngForm" class="registration-form-form">
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput type="text"  placeholder="User Name" id="username" [formControlName]="'userName'" [ngClass]="registrationForm.controls['userName']?.errors?.userNameInUse ? 'is-invalid' : '' " required>
            <mat-error *ngIf="registrationForm.controls['email'].touched && registrationForm.controls['userName'].value != '' && registrationForm.controls['userName']?.errors?.userNameInUse" class="is-invalid">Username already in use</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Email" id="email" [formControlName]="'email'" [ngClass]="registrationForm.controls['email']?.errors?.emailInUse ? 'is-invalid' : '' " required>
            <mat-error *ngIf="registrationForm.controls['email'].touched && registrationForm.controls['email'].value != '' && registrationForm.controls['email']?.errors?.emailInUse" class="is-invalid">Email already in use</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Password" id="password" [formControlName]="'password'" [ngClass]="registrationForm.controls['password']?.hasError('required') ? 'is-invalid' : ''" required>
            </mat-form-field>
            <div>
              <span>Password must contain:</span><br/>
                <div>
                  <mat-icon [ngClass]="registrationForm.controls['password']?.hasError('required') || registrationForm.controls['password']?.hasError('minlength') ? 'is-invalid' : 'valid'" [color]="registrationForm.controls['password']?.hasError('required') || registrationForm.controls['password']?.hasError('minlength') ? 'is-invalid' : 'valid'">
                  {{ registrationForm.controls['password'].hasError('required') ||
                registrationForm.controls['password'].hasError('minlength') ? 'cancel' :
                  'check_circle' }}
                  </mat-icon>
                <span [ngClass]="registrationForm.controls['password']?.hasError('required') || registrationForm.controls['password']?.hasError('minlength') ? 'is-invalid' : 'valid'"> min. 8 characters</span>
                </div>
                <div>
                  <mat-icon [ngClass]="registrationForm.controls['password']?.hasError('required') || registrationForm.controls['password']?.hasError('noNumberInPassword') ? 'is-invalid' : 'valid'">
                  {{ registrationForm.controls['password'].hasError('required') ||
                registrationForm.controls['password'].hasError('noNumberInPassword') ? 'cancel' :
                  'check_circle' }}
                  </mat-icon>
                  <span [ngClass]="registrationForm.controls['password']?.hasError('required') || registrationForm.controls['password']?.hasError('noNumberInPassword') ? 'is-invalid' : 'valid'">min. one number (0-9)</span>
                </div>
                <div>
                  <mat-icon [ngClass]="registrationForm.controls['password']?.hasError('required') || registrationForm.controls['password']?.hasError('noSmallLetter') ? 'is-invalid' : 'valid'">
                  {{ registrationForm.controls['password'].hasError('required') ||
                registrationForm.controls['password'].hasError('noSmallLetter') ? 'cancel' :
                  'check_circle' }}
                </mat-icon>
                <span [ngClass]="registrationForm.controls['password']?.hasError('required') || registrationForm.controls['password']?.hasError('noSmallLetter') ? 'is-invalid' : 'valid'">min. one small letter (a-z)</span>
                </div>
                <div>
                  <mat-icon [ngClass]="registrationForm.controls['password']?.hasError('required') || registrationForm.controls['password']?.hasError('noCapitalLetter') ? 'is-invalid' : 'valid'">
                  {{ registrationForm.controls['password'].hasError('required') ||
                registrationForm.controls['password'].hasError('noCapitalLetter') ? 'cancel' :
                  'check_circle' }}
                 </mat-icon>
                  <span [ngClass]="registrationForm.controls['password']?.hasError('required') || registrationForm.controls['password']?.hasError('noCapitalLetter') ? 'is-invalid' : 'valid'">min one capital letter (A-Z)</span>
                </div>
                <div>
                  <mat-icon [ngClass]="registrationForm.controls['password']?.hasError('required') || registrationForm.controls['password']?.hasError('noSpecialCharacter') ? 'is-invalid' : 'valid'">
                  {{ registrationForm.controls['password'].hasError('required') ||
                registrationForm.controls['password'].hasError('noSpecialCharacter') ? 'cancel' :
                  'check_circle' }}
                  </mat-icon>
                  <span [ngClass]="registrationForm.controls['password']?.hasError('required') || registrationForm.controls['password']?.hasError('noSpecialCharacter') ? 'is-invalid' : 'valid'">min. one special character (@#$%^&-()+=)</span>
                </div>
              </div><br/>
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput type="text" placeholder="First Name" id="firstName" [formControlName]="'firstName'">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput type="text" placeholder="Last Name" id="lastName" [formControlName]="'lastName'">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Street</mat-label>
              <input matInput type="text" placeholder="Street"  id="street" [formControlName]="'street'">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Nr.</mat-label>
              <input matInput type="text"  placeholder="Nr." id="houseNumber" [formControlName]="'houseNumber'">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Zip Code</mat-label>
              <input matInput type="text" placeholder="Zip Code"  id="zipCode" [formControlName]="'zipCode'">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>City</mat-label>
              <input matInput type="text" placeholder="City"  id="city" [formControlName]="'city'">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Birthday</mat-label>
              <input matInput type="date" placeholder="Birthday"  min="1900-01-01" max="2021-10-07" id="birthday" [formControlName]="'birthday'">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Phone Number</mat-label>
              <input matInput type="text" placeholder="Phone"  id="phoneNumber" [formControlName]="'phoneNumber'">
            </mat-form-field>
          <div class="form-action-button">
            <button mat-flat-button type="submit" [disabled]="!registrationForm.valid" class="form-action-button group7-forms-button">Sign Up</button>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
