<mat-card-header>
  <mat-card-title>
    <h1 class="card-title">Choose your house</h1>
  </mat-card-title>
</mat-card-header>
<mat-card-content>
  <p>Congratulations! Your are loyal customer. The Gods will now assign you a house:</p>
  <button mat-button *ngIf="!houseChosen && !clicked" class="group7-forms-button" (click)="selectHouse()">Let the Gods decide</button>
  <div>
    <div class="spinner-container" *ngIf="isLoading" >
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="houseChosen"><p>Your house: {{house.houseName}}</p></div>
  </div>
  <br/>
  <br/>
  <div *ngIf="houseChosen">
    <button mat-button (click)="close()" class="group7-forms-button">Close</button>
  </div>
</mat-card-content>

