<mat-card-header>
  <mat-card-title>
    <h1 class="card-title">Choose your house</h1>
  </mat-card-title>
</mat-card-header>
<mat-card-content>
  <p>Congratulations. Your are a good customer and can now choose your house:</p>
  <div class="form-wrapper">
    <form *ngIf="!isLoading" [formGroup]="form" (ngSubmit)="onSubmit(formDirective)" #formDirective="ngForm" class="registration-form-form">
      <mat-form-field appearance="outline">
        <mat-label >House</mat-label>
        <mat-select formControlName="house" id="house"   required>
          <mat-option value="" >Choose</mat-option>
          <mat-option value="1" >Stark</mat-option>
          <mat-option value="2" >Targaryen</mat-option>
        </mat-select>
      </mat-form-field>
      <br/>
      <div class="form-action-button">
        <button mat-flat-button (click)="discardChanges()" class="group7-forms-button">Discard</button>
        <button mat-flat-button type="submit" [disabled]="!form.valid" class="group7-forms-button" >Choose House</button><br/>
      </div>
    </form>
  </div>
</mat-card-content>

